# Site
repository: sproogen/resume-theme
favicon: images/favicon.ico

# Content configuration version
version: 2

# Personal info
about_profile_image: images/profile.jpg
name: Aaron Machmer
title: Head of Center of Competence Cybersecurity
website: https://amachmer.de

# Dark Mode (true/false/never)
darkmode: false

# Social links
# twitter_username: facespics
github_username:  amachmer
# stackoverflow_username: "00000001"
# dribbble_username: jekyll
# facebook_username: jekyll
# flickr_username: jekyll
# instagram_username: jameswgrant
linkedin_username: aaron-machmer
xing_username: Aaron_Machmer
# pinterest_username: jekyll
# youtube_username: globalmtb
# googleplus_username: +jekyll
# orcid_username: 0000-0000-0000-0000

# Additional icon links
additional_links:
- title: itsgoingto.be
  icon: fas fa-globe
  url: https://www.tagueri.com/cybersecurity/
# - title: another link
#   icon: font awesome brand icon name (eg. fab fa-twitter) (https://fontawesome.com/icons?d=gallery&m=free)
#   url: Link url (eg. https://google.com)

# Google Analytics and Tag Manager
# Using more than one of these may cause issues with reporting
# gtm: "GTM-0000000"
# gtag: "UA-00000000-0"
# google_analytics: "UA-00000000-0"

# About Section
# about_title: About Me
# about_profile_image: images/profile.jpg
# about_content: | # this will include new lines to allow paragraphs
#  My name is Aaron and I'm Head of Center of Competence for Cybersecurity at Tagueri AG. 
#  As well as leading a team and build up knowledge and enable the team to gain more competencies I also have experience build up new topics and develop innovative products.

# Footer
footer_show_references: true
# references_title: References on request (Override references text)

# Build settings
remote_theme: sproogen/resume-theme

sass:
  sass_dir: _sass
  style: compressed

plugins:
 - jekyll-seo-tag
